.fish {
  color: red;
  font-family: serif;
  margin-top: 50px;
  margin-bottom: 100px;
  border: 2px solid blue;

}
.help {
  color: orange;
  text-transform:uppercase;
  text-decoration:underline;
}
.findfoods {
  color: crimson;
  font-size: 2rem;
  border-style: solid;
  border-color: red;
  margin-top: 30px;
  margin-bottom: 20px;

}

.crazy {
  font-family: fantasy;
  font-weight:lighter;
  margin-top: 30px;
  margin-bottom: 20px;
  border: 2px solid orange;


}
body {
  background-color: skyblue;
}

.img {
  width: 30%;
  height: auto;
  margin: auto;
}
