.fish {
  color: red;
  font-family: serif;
  margin-top: 50px;
  margin-bottom: 100px;
  border: 2px solid blue;

}
.help {
  color: orange;
  text-transform:uppercase;
  text-decoration:underline;
}
.findfoods {
  color: crimson;
  font-size: 2rem;
  border-style: solid;
  border-color: red;
  margin-top: 30px;
  margin-bottom: 20px;

}

.crazy {
  font-family: fantasy;
  font-weight:lighter;
  margin-top: 30px;
  margin-bottom: 20px;
  border: 2px solid orange;


}
body {
  background-color: skyblue;
}

.img {
  width: 30%;
  height: auto;
  margin: auto;
}


@media screen and (max-width: 1000px) and (min-width: 475px){
  .img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  }
  body {
    background-color: pink;
  }
}

@media screen and (max-width: 480px) {
  .img {
    width: 90%;
    height: auto;
  }
  body {
    background-color: black;
    color: white;

  }
}
